<p>Discount Code Page</p>
<!-- <router-outlet></router-outlet> -->
<!-- <app-shared-grid></app-shared-grid> -->
{{errorMsg}}
<div *ngIf="this.selectedOffer && this.expirationDate">
    <table border="2">
        <tr>
            <th>Discount Code</th>
            <!-- <th>Can Use Once</th> -->
            <th>Expiration Date</th>
            <th>Usage Date</th>
            <!-- <th>Special Offer</th>
            <th>Recipient</th> -->
        </tr>
        <tr *ngFor="let dc of discountCodes">
            <td> {{dc.code}} </td>
            <!-- <td> {{dc.canUseOnce}} </td> -->
            <td> {{dc.expirationDate}} </td>
            <td> {{dc.usageDate}} </td>
            <!-- <td> {{dc.specialOffer.name}} </td>
            <td> {{dc.recipient.name}} </td> -->
        </tr>

    </table>
</div>

<br>
<div *ngIf="email && discountCode">
    {{percentageDiscount}}
</div>

<br>
<div *ngIf="email">
    <table border="2">
        <tr>
            <th>Discount Code</th>
            <th>Offer Name</th>
        </tr>
        <tr *ngFor="let recipient of validDiscountsWithOfferName | keyvalue">
            <td> {{recipient.key}} </td>
            <td> {{recipient.value}} </td>
        </tr>
    </table>
</div>
<!-- <app-input-page></app-input-page> -->