<!-- <p>input-page works!</p> -->


<div class="border border-primary">
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <div class="input-group-append">
                    <div class="m-2">Special Offer:</div>
                    <div class="m-2">
                        <select (change)="getSelectedOffer($event)" id="specialOfferDD">
                            <option value="0">--All--</option>
                            <option *ngFor="let offer of specialOffers" value={{offer}}>
                                {{offer.name}}
                            </option>
                        </select>
                    </div>

                </div>
            </div>
            <div class="col-md-5">
                <div class="input-group-append">
                    <div class="m-2">
                        Expiration Date:
                    </div>
                    <div class="m-2">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker
                            #d="ngbDatepicker">
                    </div>
                    <div class="m-2">
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                            type="button">📅</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="m-2">
                    <button class="btn btn-primary" style="color: cornsilk;" name="btnGetDiscount" type="button"
                        (click)="generateDiscounts()">Generate Discounts</button>
                </div>
            </div>
        </div>
        <!-- <pre>Model: {{ model | json }}</pre> -->
        <div class="row">
            <div class="col-md-4">
                <div class="input-group-append">
                    <div class="m-2">
                        Discount Code:
                    </div>
                    <div class="m-2">
                        <input class="form-control" placeholder="Enter discount code" name="discountCode"
                            [(ngModel)]="discountCode">
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="input-group-append">
                    <div class="m-2">
                        Email:
                    </div>
                    <div class="m-2">
                        <input class="form-control" placeholder="Enter email address" name="email" [(ngModel)]="email">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="m-2">
                    <button class="btn btn-primary" style="color: cornsilk;" name="btnGetPercentageDiscount"
                        type="button" (click)="getPercentageDiscount()">Get Percentage</button>
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="col-md-5">
                <div class="input-group-append">
                    <div class="m-2">
                        Email:
                    </div>
                    <div class="m-2">
                        <input class="form-control" placeholder="Enter email address" name="email" [(ngModel)]="email">
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="m-2">
                    <button class="btn btn-primary" style="color: cornsilk;" name="btnGetPercentageDiscount"
                        type="button" (click)="getValidDiscounts()">Get Valid Discounts</button>
                </div>
            </div>
        </div>

    </div>

</div>
<br>
<div class="border border-primary">
    <div *ngIf="canSend == true">
        <app-discount-code [selectedOffer]="selectedSpecialOffer" [expirationDate]="expDate"
            [discountCode]="discountCode" [email]="email"></app-discount-code>
    </div>
</div>
<!-- <br>
<div class="border border-primary">
    <div *ngIf="isToGetPercentage == true">
        <app-special-offer [discountCode]="discountCode" [email]="email"></app-special-offer>
    </div>
</div> -->